body {
    font-family: 'Times New Roman' , Times, serif;
    margin: 20px;
    padding: 0;
    background-color: #F3F8FB;
}

h1 {
    text-align: center; 
    color: #2F4F4F
}

form {
  max-width: 600px;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;

}

fieldset {
    border: 2px solid #5F9EA0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #E6F7F8;
}

legend {
    font-weight: bold;
    text-align: left; 
    color: #2F4F4F
}

label {
    display: block;
    margin-top: 10px;
    color: #4A5E65;
}

input,textarea {

    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #5F9EA0;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #B0E0E6;
    color: #2F4F4F;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: #9CC5D5;
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #5F9EA0;
    border-radius: 8px;
    background-color: #EAF9FB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#resume-display h2 {
    color: #4A5E65;
}

.profilePicture {
    display: block;
    margin: 0 auto;
    border: 2px solid #5F9EA0;
    box-shadow: 0 4px 8px rgba(95, 158, 160, 0.5);
    border-radius: 500%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
